@charset "UTF-8";
/*Importe de estilos generales*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Tamaño fuente de títulos*/
/*Tamaño fuente de texto*/
/*Ajuste en porcentaje para pantallas Large, Medium y Small*/
/* Scrollbar para main */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #391e4c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

body {
  background-color: #614b70;
  display: flex;
  flex-direction: column;
}

main {
  overflow-x: hidden;
}
main li {
  font-size: 1.2rem;
}

header {
  background-color: #391e4c;
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  height: 18vh;
  display: block;
  z-index: 3;
  gap: 10px;
}
header nav {
  height: 100%;
}
header nav ul {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  color: white;
  padding: 0 5px;
}
header nav ul li a:hover {
  color: #c89e52;
  text-shadow: 0px 0px 2px #c89e52;
}

footer {
  background-color: #391e4c;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 3;
  height: 5vh;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  text-align: center;
  padding: 15px;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: "Great Vibes", cursive;
  font-size: 2.3rem;
  text-align: center;
}

a {
  text-decoration: none;
}

p,
label {
  text-align: justify;
  padding: 5px 15px;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
}

.logo {
  height: 100%;
  float: left;
  margin-left: 20px;
  align-self: center;
}
.logo:hover {
  filter: drop-shadow(0px 0px 5px white);
}

/*Relativo al nav y header*/
i:hover {
  color: #c89e52;
  text-shadow: 0px 0px 2px #c89e52;
}

.linkactivo {
  color: #c89e52;
  text-shadow: 0px 0px 2px #c89e52;
}

#menu {
  visibility: hidden;
}

#menu,
label.menu {
  display: none;
  font-size: 3.5rem;
}

.listamenuesc {
  display: none;
}
.listamenuesc i {
  font-size: 3.5rem;
}

/* Relativo al footer */
.flexfooter {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
}

.footerulhidden {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footertext {
  font-size: 0.8rem;
  height: 100%;
}

footer p {
  display: flex;
  align-items: center;
}

.iconofooter {
  font-size: 4vh;
  min-height: 5vh;
  margin: 0 2px;
  display: flex;
  align-items: center;
}

/*Importe de características de páginas individuales*/
/*Aplicado a index*/
.indeximg {
  width: 75%;
  object-fit: cover;
  border-radius: 100%;
  max-width: 350px;
}

.indeximg1 {
  z-index: 2;
  margin-left: -150px;
  margin-bottom: -150px;
}

.indeximg2 {
  z-index: 1;
  margin-left: 150px;
}

.indexplanimg {
  width: 100%;
}

.break {
  width: 60%;
}

/*Aplicado a Eventos*/
.imgevento {
  object-fit: cover;
  width: 650px;
  height: 300px;
}

.listaev {
  padding: 0px 5px;
}

/*Aplicado a PyS*/
.titulopys {
  font-weight: bold;
}

.textoizq {
  text-align: left;
}

.textoder {
  text-align: right;
}

.textocen {
  text-align: center;
}

.sectextopys {
  position: relative;
  z-index: 2;
}

.imgpys {
  object-fit: cover;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  opacity: 50%;
  position: relative;
  z-index: 1;
}

.imgpys1 {
  margin-left: -450px;
}

.imgpys2 {
  margin-left: -150px;
}

.pysdescr {
  font-weight: lighter;
  font-style: italic;
}

.pysbutton {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  background-color: #391e4c;
  cursor: pointer;
  border: none;
  margin: 0 20px 20px 20px;
}

.pysbutton:hover {
  background-color: #c89e52;
}

/*Aplica a galería*/
.fotog {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
}

/*Aplicado a contacto*/
.formulario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.formtext {
  width: 40%;
  float: left;
}

.forminput {
  width: 60%;
}

form input,
form textarea {
  background-color: #d9d9d9;
  padding: 5px;
  color: black;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
form textarea {
  width: 80%;
}

.contactosec1 {
  background-color: #391e4c;
  padding: 5px;
  border-radius: 30px;
}

.contactobut {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  background-color: #614b70;
  margin: 0px 60px;
  cursor: pointer;
}
.contactobut:hover {
  background-color: #c89e52;
}

.linea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maps {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
}

/*Importe de media queries*/
/*Media Queries para acomodar tamaño fuente del menú superior en vista Desktop - Tablet*/
@media screen and (max-width: 1000px) {
  header {
    font-size: 1.125rem;
  }
}
/* Media Queries para pantallas Medium + Small + menú hamburguesa */
@media screen and (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
  }
  .menuhamburguesa {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18vh;
    left: 100%;
    width: 100%;
    background-color: #887b92;
    height: 77vh;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    padding: 18px;
  }
  .menuhamburguesa li {
    font-size: 1.35rem;
  }
  .logo {
    height: 18vh;
  }
  #menu,
  label.menu {
    display: inline-block;
    cursor: pointer;
  }
  #menu:checked ~ .menuhamburguesa {
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }
  .listamenuesc {
    display: visible;
    padding: 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .listamenuesc li {
    font-size: 1rem;
  }
  .flexfooter {
    justify-content: center;
  }
  .footerulhidden {
    display: none;
  }
  /* Cambios de tamaño de fuente */
  h1 {
    font-size: 3.08rem;
  }
  h2 {
    font-size: 2.64rem;
  }
  h3 {
    font-size: 2.024rem;
  }
  p,
  button,
  main li {
    font-size: 1.056rem;
  }
  label,
  form input,
  form textarea {
    font-size: 0.88rem;
  }
}
/* Media Queries para pantallas Small, cambio tamaño fuente */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.94rem;
  }
  h2 {
    font-size: 2.52rem;
  }
  h3 {
    font-size: 1.932rem;
  }
  p,
  button,
  main li {
    font-size: 1.008rem;
  }
  label,
  form input,
  form textarea {
    font-size: 0.84rem;
  }
}
/* Media Queries para pantallas Large, scroll */
@media screen and (min-width: 769px) {
  body {
    height: 100vh;
    min-height: 100vh;
  }
  body,
  header,
  footer {
    overflow: hidden;
  }
  main {
    min-height: 77vh;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
