/*Aplica a galería*/

.fotowrap {
  position: relative;
  width: 300px;
  height: 300px;

  &:hover .fotodescr {
    visibility: visible;
    opacity: 1;
  }
}

.fotog {
  border-radius: 30px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.fotodescr {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  visibility: hidden;
  background: rgba(23, 11, 36, 0.5);
  font-size: 1rem;
}

.videowrap {
  height: auto;

  &:hover .videodescr {
    visibility: visible;
    opacity: 1;
  }
}

.videodescr {
  display: block;
  font-size: 1rem;
  visibility: hidden;
  width: 450px;
  border-radius: 30px;
  background: rgba(23, 11, 36, 0.5);
}
