/*Media Queries para acomodar tamaño fuente del menú superior en vista Desktop - Tablet*/

@media screen and (max-width: 992px) {
  header {
    font-size: $sizeheader * $ajustelg;
  }
  .breakinv {
    display: block;
    margin: 10px;
  }
  .maps {
    margin-bottom: -70px;
  }
}

/* Media Queries para pantallas Medium + Small + menú hamburguesa */

@media screen and (max-width: 768px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
  }

  .menuhamburguesa {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18vh;
    left: 100%;
    width: 100%;
    background-color: #887b92;
    height: 77vh;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    padding: 18px;

    li {
      font-size: $sizeheader * 0.9;
    }
  }

  .logo {
    height: 18vh;
  }

  #menu,
  label.menu {
    display: inline-block;
    cursor: pointer;
  }

  #menu:checked ~ .menuhamburguesa {
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }

  .listamenuesc {
    display: visible;
    padding: 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    li {
      font-size: $sizeform;
    }
  }

  .flexfooter {
    justify-content: center;
  }

  .footerulhidden {
    display: none;
  }

  /* Cambios de tamaño de fuente */
  h1 {
    font-size: $sizeh1 * $ajustemd;
  }

  h2 {
    font-size: $sizeh2 * $ajustemd;
  }

  h3 {
    font-size: $sizeh3 * $ajustemd;
  }

  p,
  button,
  main li {
    font-size: $sizep * $ajustemd;
  }

  label,
  form input,
  form textarea {
    font-size: $sizeform * $ajustemd;
  }

  /*Modificados los hovers de galería*/
  .fotowrap {
    height: auto;
  }
  .fotodescr {
    margin-top: 5px;
    height: auto;
    width: auto;
    position: relative;
    display: block;
    visibility: visible;
  }

  .videodescr {
    visibility: visible;
  }

  /*Modificado el iframe de instagram en contactos*/
  .insta {
    margin-bottom: 0px;
    iframe {
      width: 95%;
      height: 95%;
    }
  }
}

/* Media Queries para pantallas Small, cambio tamaño fuente */

@media screen and (max-width: 576px) {
  h1 {
    font-size: $sizeh1 * $ajustesm;
  }

  h2 {
    font-size: $sizeh2 * $ajustesm;
  }

  h3 {
    font-size: $sizeh3 * $ajustesm;
  }

  p,
  button,
  main li {
    font-size: $sizep * $ajustesm;
  }

  label,
  form input,
  form textarea {
    font-size: $sizeform * $ajustesm;
  }
}

/* Media Queries para pantallas Large, scroll */

@media screen and (min-width: 769px) {
  body {
    height: 100vh;
    min-height: 100vh;
  }

  body,
  header,
  footer {
    overflow: hidden;
  }

  main {
    min-height: 77vh;
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
